{% extends "base.html" %}
{% load static %}
 
  {% block content %}
  <section class="feedback-content text-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col map-pic">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15665.147257540948!2d76.97495884475111!3d11.017094176344939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8584bd4364f8d%3A0x37275d90116754c8!2sPalayur%2C%20Pappanaickenpalayam%2C%20Tamil%20Nadu%20641044!5e0!3m2!1sen!2sin!4v1719385364940!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col feedback-details">
            <div class="feedback-head">
              <h1 class="text-white">feedback</h1>
            </div>
            <div class="feedback-ele">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone No</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="0000000000">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="drop your feedback"></textarea>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">submit</button>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}