{% extends "base.html" %}
{% load static %}

    {% block content %}
    <section class="trainer_section text-white">
        <div class="container">
            <div class="trainer_head">
                <h5>Our Gym trainer</h5>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t1.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t2.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                 </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t3.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t4.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t5.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                 </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t6.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t7.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t8.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                 </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="{% static '/images/t9.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="tra-social-icon">
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/twitter.png' %}" alt="not load">
                                        </a>
                                    </div>
                                    <div class="image-icon">
                                        <a href="">
                                        <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                                        </a>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
