{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neogym</title>
 
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css'%}">
</head>
<body>
    <header>
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg fixed-top custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span>
                Neogym
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center justify-content-end">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'gym.home' %}">Home </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="{% url 'gym.why' %}"> Why us </a>
                  </li>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym.trainer' %}"> trainers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym.contact' %}"> Contact Us</a>
                  </li>
                </ul>
                <div class="user_option">
                  <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                     <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
    {% block content %}
    {% endblock %}
    <footer class="text-white foot-section">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="about-us">
                <h4>About Neogym</h4>
                <ul class="footer-menu">
                  <li><a href="#">about us</a></li>
                  <li><a href="#">contact us</a></li>
                  <li><a href="#">trainers</a></li>
                  <li><a href="#">bmi</a></li>
                  <li><a href="#">feedback</a></li>
                </ul>
              </div>
            </div>
            <div class="col">
              <div class="no-us">
                <h4 id="contact">Feel free to contact<h4>
                <p>📞 +91 9023456780, +91 8976543210</p>
                <p>📧 neogym@gamil.com</p>
              </div>
            </div>
            <div class="col">
              <div class="follow-us">
                <div>
                  <h4>Follow us</h4>
                </div>
               
                <div class="social-icon">
                  <div class="image-icon">
                    <a href="">
                    <img src="{% static '/images/instagram-logo.png' %}" alt="not load">
                    </a>
                </div>
                <div class="image-icon">
                    <a href="">
                    <img src="{% static '/images/twitter.png' %}" alt="not load">
                    </a>
                </div>
                <div class="image-icon">
                    <a href="">
                    <img src="{% static '/images/facebook-logo.png' %}" alt="not load">
                    </a>
                  </div>
                </div>
    
                <!-- <a href="">
                  <img src="../images/twitter.png" alt="not load">
                </a>
                <a href="">
                  <img src="../images/instagram-logo.png" alt="not load">
                </a>
                <a href="">
                  <img src="../images/facebook-logo.png" alt="not load">
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>